.header {
  height: 96px;
  position: absolute;
  top: 0;
  right: 0;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;

  @include breakpoint-up(tablet) {
    top: 40px;
  }
  &__stroke {
    max-width: 403px;
    width: 403px;
    height: 1px;
    background-color: $white;
    position: absolute;
    right: 800px;
    top: 50%;
    opacity: 0.25;
    transform: translateY(-50%);
    z-index: 1;
    display: none;
    @media (min-width: 1350px) {
      display: block;
    }
  }
}
