.navbar {
  position: absolute;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  align-items: center;
  justify-content: center;
  display: none;
  padding-left: 20px;
  @include breakpoint-up(sm) {
    // width: 450px;
    display: flex;
  }

  @include breakpoint-up(md) {
    width: 75vw;
    max-width: 830px;
  }
  &__links {
    @include navtext;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__link {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    b {
      margin-right: 11px;
      font-weight: bold;
      display: none;
      @include breakpoint-up(lg) {
        display: unset;
      }
    }
    @include nav-stroke;
    &:not(:last-child) {
      margin-right: 20px;

      @include breakpoint-up(lg) {
        margin-right: 48px;
        // margin-right: 37px;
      }
    }
  }
  &.hamburger-menu {
    @include breakpoint-down(sm) {
      width: 254px;
      position: fixed;
      top: 0;
      bottom: 0;
      display: flex;
      animation: navbar-slide 0.4s ease-in-out forwards;
      .navbar {
        &__links {
          flex-direction: column;
          padding-top: 118px;
        }
        &__link {
          padding: 5px 0;
          padding-left: 32px;
          padding-right: 10px;
          justify-content: flex-start;
          b {
            display: unset;
          }

          &::before {
            left: unset;
            right: 0;
            width: 3px;
            height: 100%;
          }
          height: unset;
          width: 100%;
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 27px;
          }
        }
      }
    }
  }
}

@keyframes navbar-slide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
