.destination__data-info {
  width: 100%;
  border-top: 1px solid rgba($white, 0.25);
  margin-top: 54px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include breakpoint-up(mobile) {
    flex-direction: row;
    justify-content: flex-start;
  }
  padding-top: 28px;
  &__info {
    flex-shrink: 0;
    text-align: center;
    @include breakpoint-up(tablet) {
      text-align: left;
    }
    &:first-child {
      margin-bottom: 32px;
      @include breakpoint-up(mobile) {
        margin-bottom: 0;
      }
    }
    &:last-child {
      @include breakpoint-up(mobile) {
        margin-left: 79px;
      }
    }
    &__heading,
    &__text {
      text-transform: uppercase;
    }
    &__heading {
      @include subheading2;
      margin-bottom: 12px;
    }
    &__text {
      @include subheading1;
    }
  }
}
