.destination__navbar {
  display: flex;
  height: 34px;
  margin-bottom: 20px;
  justify-content: center;
  @include breakpoint-up(tablet) {
    margin-bottom: 37px;
    justify-content: flex-start;
  }
  &__link {
    height: 100%;
    cursor: pointer;
    color: $light-blue;
    position: relative;
    &.active {
      color: $white;
    }
    @include navtext;
    @include nav-stroke;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
