$home-mobile-Img: "../../public/assets/home/background-home-mobile.jpg";
$home-tablet-Img: "../../public/assets/home/background-home-tablet.jpg";
$home-desktop-Img: "../../public/assets/home/background-home-desktop.jpg";
$destinationImg: "../../public/assets/destination/background-destination-desktop.jpg";
$crewImg: "../../public/assets/crew/background-crew-desktop.jpg";
$technologyImg: "../../public/assets/technology/background-technology-desktop.jpg";

.layout {
  position: relative;
  min-height: 100vh;
  min-height: 900px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 136px 2.5vw;
  padding-bottom: 50px;

  @include breakpoint-up(tablet) {
    padding: 212px 11.5vw;
    padding-bottom: 131px;
  }

  &.home {
    background-image: url($home-mobile-Img);
    @include breakpoint-up(mobile) {
      background-image: url($home-tablet-Img);
    }
    @include breakpoint-up(tablet) {
      background-image: url($home-desktop-Img);
    }
  }
  &.destination {
    background-image: url($destinationImg);
  }
  &.crew {
    background-image: url($crewImg);
  }
  &.technology {
    background-image: url($technologyImg);
    padding-right: 0;
    padding-left: 0;
    @include breakpoint-up(tablet) {
      padding-left: 11.5vw;
    }
  }
}
