$homeImg: "../../public/assets/home/background-home-desktop.jpg";
$destinationImg: "../../public/assets/destination/background-destination-desktop.jpg";
$crewImg: "../../public/assets/crew/background-crew-desktop.jpg";
$technologyImg: "../../public/assets/technology/background-technology-desktop.jpg";

.layout {
  position: relative;
  min-height: 100vh;
  min-height: 900px;
  height: 100vh;
  padding: 131px 165px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.home {
    background-image: url($homeImg);
  }
  &.destination {
    background-image: url($destinationImg);
  }
  &.crew {
    background-image: url($crewImg);
  }
  &.technology {
    background-image: url($technologyImg);
    padding-right: 0;
  }
}
