.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 177px;
    flex-direction: column;
    @include breakpoint-up(tablet) {
      flex-direction: row;
    }
    &.--home {
      padding-top: 0px;
    }
  }
  &__subheading {
    opacity: 0.5;
    margin-bottom: 15px;
    @include heading4;
    &.--technology {
      @include navtext;
      opacity: 1;
      color: $light-blue;
    }
  }
  &__heading {
    margin-bottom: 10px;
    text-align: center;
    @include breakpoint-up(tablet) {
      text-align: left;
    }
    &.--absolute {
      @include heading5;
      position: absolute;
      top: 76px;
      left: 0;
      color: $white;
      b {
        @include heading5;
        opacity: 0.25;
        text-align: center;
        @include breakpoint-up(tablet) {
          text-align: left;
        }
      }
    }

    &.--crew {
      @include heading3;
      margin-bottom: 27px;
    }
  }
  &__technology-box {
    display: flex;
  }
  &__body {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    margin-top: auto;
    > b {
      margin-bottom: 24px;
    }
    @include breakpoint-up(tablet) {
      margin-top: 0;
    }
    &__text {
      @include bodytext;
      font-size: 16px;
      @include breakpoint-up(tablet) {
        font-size: 18px;
      }
      width: 444px;
      text-align: center;
      @include breakpoint-up(tablet) {
        text-align: left;
      }
    }
  }
}
