.sliders {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @include breakpoint-up(tablet) {
    flex-direction: row;
    margin-top: 120px;
    justify-content: flex-start;
  }
  &__slider {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.17;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    color: transparent;
    &:hover {
      opacity: 0.5;
    }
    &.active {
      opacity: 1;
    }
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &.--technology {
    flex-direction: column;
    margin-right: 0;
    margin-top: 0px;
    &.--technology {
      flex-direction: row;
      @include breakpoint-up(tablet) {
        margin-right: 80px;
        flex-direction: column;
      }
      .sliders__slider {
        &:not(:last-child) {
          margin-right: 16px;
          @include breakpoint-up(tablet) {
            margin-right: 0;
            flex-direction: column;
          }
        }
      }
    }
    .sliders__slider {
      color: $white;
      opacity: 1;
      background-color: transparent;
      width: 80px;
      height: 80px;
      border: 1px solid rgba($white, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      @include heading4;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
      }
      &.active {
        background-color: $white;
        color: $dark-black;
      }
      &:hover {
        border: 1px solid $white;
      }
    }
  }
}
