@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
*,
*::before,
*::after {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-black;
  min-height: 100vh;
  color: $white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

.logo {
  cursor: pointer;
}

.heading-1 {
  @include heading1;
}

.heading-2 {
  @include heading2;
}

.heading-3 {
  @include heading3;
}

.heading-4 {
  @include heading4;
}

.heading-5 {
  @include heading5;
}

.slide-down {
  animation: slide-down 0.75s ease-in-out forwards;
}

.slide-left {
  animation: slide-left 0.75s ease-in-out forwards;
}

.pop-up {
  animation: pop-up 0.75s ease-in-out forwards;
}

.fade-in {
  animation: fade-in 0.75s ease-in-out forwards;
}
