@mixin text-style {
  font-weight: 400;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
@mixin heading1 {
  @include text-style;
  font-size: 150px;
}

@mixin heading2 {
  @include text-style;
  font-size: 100px;
  color: $white;
}

@mixin heading3 {
  @include text-style;
  font-size: 56px;
  color: $white;
}

@mixin heading4 {
  @include text-style;
  font-size: 32px;
}

@mixin heading5 {
  @include text-style;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: $light-blue;
}

@mixin subheading1 {
  @include text-style;
  font-size: 28px;
}

@mixin subheading2 {
  @include text-style;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: $light-blue;
}

@mixin navtext {
  @include text-style;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

@mixin bodytext {
  @include text-style;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: $light-blue;
  text-transform: initial;
  @include breakpoint-up(md) {
    line-height: 32px;
  }
}

@mixin nav-stroke {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    height: 3px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &.active::before {
    opacity: 1;
  }
  &:hover::before {
    opacity: 0.5;
  }
}
